.instagramBusinessAccount{
    display: block;
    font-family: HelveticaNeue;
    font-size: 17px
}

.igBusinessAccount_profile_picture_url {
    float: left;
    width: 200px;
    height: 200px;
    margin: 5px;
}

.pageDescriptionWrapper {
    padding-top: 5px;
    vertical-align: top;
}

.descriptionLeadText {
    font-weight: bold;
    float: left;
}
